<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tac.github.instamag">

    <application
        android:name="com.tac.github.instamag.CustomFontApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tac.github.instamag.LoadingActivity" />
        <activity
            android:name="com.tac.github.instamag.FirstActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tac.github.instamag.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tac.github.instamag.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tac.github.instamag.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="com.tac.github.instamag.service.FileDownloaderService" />
        <service android:name="com.tac.github.instamag.service.DownloadService" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>